<div class="container-fluid" ng-app="saberRank">
  <div ng-controller="BattersController">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="(key, value) in batters[0]">{{ key | uppercase }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="batter in batters | orderBy:'-stat'">
          <td ng-repeat="(key, value) in batter">{{ value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>